<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.folicana.milo.ugo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.FirstAccessActivity" android:theme="@style/UgoTheme"/>
        <activity android:name=".activity.MenuActivity" android:theme="@style/UgoTheme"/>
        <activity android:name=".activity.NewDataActivity" android:theme="@style/UgoTheme"/>
        <activity android:name=".activity.InputDataActivity" android:theme="@style/UgoTheme"/>
        <activity android:name=".activity.LocalDataActivity" android:theme="@style/UgoTheme"/>
        <activity android:name=".activity.RemoteDataActivity" android:theme="@style/UgoTheme"/>
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label = "@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>s

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/login_activity_label"
            android:theme="@style/UgoTheme">
           <intent-filter>
               <action android:name="it.folicana.milo.ugo.action.LOGIN_ACTION"/>
               <category android:name="android.intent.category.DEFAULT"/>
           </intent-filter>
        </activity>

        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/register_activity_label"
            android:theme="@style/UgoTheme">

            <intent-filter>
                <action android:name="it.folicana.milo.ugo.action.REGISTRATION_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ShowUserDataActivity"
            android:label="@string/show_user_data_activity_label"
            android:theme="@style/UgoTheme">
            <intent-filter>
                <action android:name="it.folicana.milo.ugo.action.SHOW_USER_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
